<style>
    .btn-search{
        font-size: 0.9rem;
        border-radius: 25px;
        padding: 0 1rem 0 1rem;
        background-color: #fe424d;
    }
    
    .btn-search i {
        display: inline;
        margin-right: 0.5rem;
    }

    .search-input{
        border-radius: 25px;
        padding: 0.5rem 2rem 0.5rem 2rem;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand " href="/signup"><img width="50" height="50"
                src="https://img.icons8.com/clouds/100/expedia.png" alt="expedia" />WonderLust</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex", role="search">
                    <input type="search" class="from-control me-2 search-input" placeholder=" Search Destination">
                    <button class="btn btn-dark btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </form>

            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">WonderLust Your Home</a>
                <% if (!user) {%>
                    <a class="nav-link " href="/login">Login</a>
                    <a class="nav-link " href="/signup">SignUp</a>
                    <%} if (user) {%>
                        <a class="nav-link" href="/logout">Logout</a>
                        <%}%>
            </div>
        </div>
    </div>
    
</nav>